.header {
    background: rgb(12,158,160);
    background: radial-gradient(circle, rgba(12,158,160,1) 4%, rgba(82,51,154,1) 100%);

   
    min-height: 90px;   
}




.header-row {
    display: flex;
     //justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
		// .header-row__logo
        
		&__logo {
            margin-left: 0px;
            width: 142px;
            padding: 10px;
            //margin-right: 390px;
		}

		// .header-row__title

		&__title {
            margin-left: 320px;
            font-size: 3.6rem;
            font-weight: 800;
            text-transform: uppercase;
            color:rgb(233, 186, 186);
            line-height: 1.2;
            text-shadow: 1px 1px 2px rgb(6, 237, 240) ;
		}
}




   
        
    

    


