/* Reset and base styles  */
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type="submit"] {
  display: inline-block;
  -webkit-box-shadow: none;
          box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.eot");
  src: local("Montserrat Regular"), local("Montserrat-Regular"), url("../fonts/Montserrat-Regular.eot") format("embedded-opentype"), url("../Montserrat-Regular.woff") format("woff"), url("../Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../Montserrat-SemiBold.eot");
  src: local("../Montserrat SemiBold"), local("Montserrat-SemiBold"), url("../Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../Montserrat-SemiBold.woff") format("woff"), url("../Montserrat-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url("../Montserrat-Bold.eot");
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../Montserrat-Bold.woff") format("woff"), url("../Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  background-image: url(../assets/header/bg.png);
  background-size: cover;
  font-size: 10px;
  line-height: 1;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  color: #000000;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.none {
  display: none !important;
}

.header {
  background: #0c9ea0;
  background: radial-gradient(circle, #0c9ea0 4%, #52339a 100%);
}

.header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
}
.header-row__logo {
  width: 142px;
  padding: 10px;
}
.header-row__title {
  font-size: 3.6rem;
  font-weight: 800;
  text-transform: uppercase;
  color: #e63c3c;
  line-height: 1.2;
  text-shadow: 1px 1px 2px #06edf0;
}

/*HEADER*/
@media (max-width: 992px) {
  .header-row__title {
    font-size: 3.0rem;
  }
}
@media (max-width: 768px) {
  .header-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: auto;
    -webkit-transition: height 0.5s linear;
    transition: height 0.5s linear;
  }

  .header-row__logo {
    width: 100px;
  }

  .header-row__title {
    font-size: 2.4rem;
    text-align: center;
    margin-left: 0;
  }
}
/* // HEADER*/

/*# sourceMappingURL=index.css.map */